html, body {
	font-family: "verdana", "sans-serif";
	font-size: 100%;
	width: 100%;
	height: 100%;
	margin: 0;
}

#mainTable {
	width: 70%;
	 /*Centers the table */
	margin-left: auto;
	margin-right: auto;
	border: thin solid black;
	border-collapse: collapse;
}

.pane {
	border: thin solid black;
}

#leftPane {
	vertical-align: top;
	width: 27.5%;
}

#centerPane {
	vertical-align: top;
	width: 27.5%;
}

#rightPane {
	text-align: center;
	width: 45%;
}

.dropdown {
	width: 100%;
	height: 100%;
	overflow: auto;
	font-size: 100%;
}

#songName {
	font-weight: bold;
}

#songArtist {
	font-style: italic;
}

#audioControl {
	width: 80%;
	height: 7.5%;
	visibility: hidden;
}

#topSection {
	text-align: center;
	margin-top: 0.5%;
	margin-bottom: 0.75%;
}

#searchBar {
	width: 40%;
	text-align: center;
	font-size: 125%;
	display: inline-block;
	margin-right: 2%;
}

#searchParameters {
	font-size: 100%;
	display: inline-block;
}

#fullKeyboard {
	text-align: center;
	margin-bottom: 0.5%;
}

#keyboard {
	display: inline-block;
	margin-right: 2%;
}

#controlBoard {
	text-align: right;
	display: inline-block;
}

.keyboardButton {
	vertical-align: middle;
	font-size: 125%;
	width: 40px;
	height: 40px;
}

.controlButton {
	width: auto;
}